{% extends 'base.html.twig' %}

{% block title %}Ajouter Sortie{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle sortie</h1>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <br>
    <input type="submit" class="btn btn-primary" value="Enregistrer"></input>
    <a href="{{ path('app_sortie')}}" class="btn btn-primary" class="button">Quitter</a>
    {{ form_end(sortieForm) }}
{% endblock %}