<h1>Bonjour</h1>

<p class="display-1 text-center">invitation à une sortie</p>

<a href="{{ url('sortie_detail', {'id':idSortie}) }}">{{ url('sortie_detail', {'id':idSortie}) }}</a>

<p>Bonne journée</p>
<p>L'équipe de sortie.com</p>