{% extends 'base.html.twig' %}

{% set routeAnnuleSortie = constant('App\\Controller\\SortieController::ROUTE_ANNULE_SORTIE') %}
{% set routeSortie = constant('App\\Controller\\SortieController::ROUTE_SORTIE') %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}
    <h1>Modifier la sortie</h1>
    {{ form_start(sortieForm) }}
    <br>
    <input type="submit" class="btn btn-primary" value="Enregistrer"/>
    <a href="{{ path(routeAnnuleSortie,{'id':id}) }}" class="btn btn-primary">Annuler la sortie</a>
    <a href="{{ path(routeSortie)}}" class="btn btn-primary">Quitter</a>
    {{ form_end(sortieForm) }}
{% endblock %}